<div class="card md:mx-8">
    <p-tabView>
        <p-tabPanel header="Assigned subjects">
            <div class="card mt-3">
                <p-table [value]="products" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Subject</th>
                            <th>Description</th>
                            <th>Period</th>
                            <th>Academic Year</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.grade }}</td>
                            <td>{{ product.createdBy }}</td>
                            <td>{{ product.grade }}</td>
                            <td>{{ product.createdBy }}</td>
                            <td class="action-icons">
                                <span routerLink="/sections"><i class="pi pi-file-edit" pTooltip="View" [showDelay]="300" ></i></span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
    </p-tabView> 
  </div>