<!-- <form (ngSubmit)="submitQuiz()">
  <div *ngFor="let question of questions; let i = index" class="question">
    <h3>{{ question.title }}</h3>
    <p>{{ question.description }}</p>
    <div class="flex align-items-center" *ngFor="let option of question.options">
        <p-radioButton
            name="pizza" 
            [value]="option.value"
            [(ngModel)]="option.value"
            (click)="selected(i, option.value)"></p-radioButton>
        <label for="ingredient3" class="ml-2">{{ option.value }}</label>
    </div>
  </div>
  <p-button type="submit" label="submit" size="small" styleClass="mt-4"></p-button>
</form> -->
<div class="breadcrum flex">
  <div class="flex align-items-center md:mx-8">
      <div class="flex md:mx-8">
          Math 101 > Quiz
      </div>
  </div>
</div>
<div class="card mt-4 md:mx-8">
  <div class="md:mx-8">
    <form #quizForm="ngForm" (ngSubmit)="submitQuiz()">
      <div *ngFor="let question of questions; let i = index" class="question">
        <p>{{ question.description }}</p>
        <div class="flex align-items-center" *ngFor="let option of question.options; let j = index">
          <input type="radio" id="{{'option' + j}}" name="{{'question' + i}}" value="{{option.value}}" (click)="selected(i, option.value)">
          <label for="{{'option' + j}}">{{ option.value }}</label>
        </div>
      </div>
      <p-button type="submit" label="submit" size="small" styleClass="mt-4"></p-button>
    </form>
  </div>
</div>