<h1>Quiz</h1>

<!-- <form (ngSubmit)="submitQuiz()">
  <div *ngFor="let question of questions; let i = index" class="question">
    <h3>{{ question.title }}</h3>
    <p>{{ question.description }}</p>
    <div class="flex align-items-center" *ngFor="let option of question.options">
        <p-radioButton
            name="pizza" 
            [value]="option.value"
            [(ngModel)]="option.value"
            (click)="selected(i, option.value)"></p-radioButton>
        <label for="ingredient3" class="ml-2">{{ option.value }}</label>
    </div>
  </div>
  <p-button type="submit" label="submit" size="small" styleClass="mt-4"></p-button>
</form> -->
<form #quizForm="ngForm" (ngSubmit)="submitQuiz()">
    <div *ngFor="let question of questions; let i = index" class="question">
      <p>{{ question.description }}</p>
      <div class="flex align-items-center" *ngFor="let option of question.options; let j = index">
        <input type="radio" id="{{'option' + j}}" name="{{'question' + i}}" value="{{option.value}}" (click)="selected(i, option.value)">
        <label for="{{'option' + j}}">{{ option.value }}</label>
      </div>
    </div>
    <p-button type="submit" label="submit" size="small" styleClass="mt-4"></p-button>
</form>