<div class="grid my-8 mx-2">
    <div class="md:col"></div>
    <div class="col-12 md:col-4">
        <div class="flex flex-column gap-2">
            <label for="username">Username</label>
            <input pInputText id="username" class="p-inputtext-sm" />
            <!-- <small id="username-help">Enter your username to reset your password.</small> -->
            <label for="username">Password</label>
            <input pInputText type="password" id="password" class="p-inputtext-sm" />
            <!-- <small id="username-help">Enter your username to reset your password.</small> -->
            <p-button label="Sign In" size="small"></p-button>
        </div>
    </div>
    <div class="md:col"></div>
</div>