<div class="card">
    <p-tabView>
        <p-tabPanel header="Teachers">
            <div class="card mt-3">
                <p-table [value]="teachers" styleClass="p-datatable-sm p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Teacher</th>
                            <th>Position</th>
                            <th>Created By</th>
                            <th class="action">Action</th>
                        </tr>   
                    </ng-template>
                    <ng-template pTemplate="body" let-tchr>
                        <tr>
                            <td>{{ tchr.fullname }}</td>
                            <td>{{ tchr.position }}</td>
                            <td>{{ tchr.createdBy }}</td>
                            <td class="action">
                                <span>
                                    <i class="pi pi-user-edit info ml-3" pTooltip="Details" [showDelay]="300" (click)="editTeacher()"></i>
                                </span>
                                <span>
                                    <i class="pi pi-file-edit save ml-3" pTooltip="Details" [showDelay]="300" (click)="viewDetails()"></i>
                                </span>
                                <span>
                                    <i class="pi pi-trash remove ml-3" pTooltip="Delete" [showDelay]="300"></i>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Add Teacher"    >
            <app-add-teachers></app-add-teachers>
        </p-tabPanel>
        <p-tabPanel header="Assign subject">
            <app-add-subjects></app-add-subjects>
        </p-tabPanel>
    </p-tabView> 
  </div>

  