<div class="header flex">
    <div class="flex align-items-center md:mx-8">
        <div class="clex md:mx-8">
            Elearning
        </div>
    </div>
</div>
<div class="breadcrum flex">
    <div class="flex align-items-center md:mx-8">
        <div class="clex md:mx-8">
            > Dasboard
        </div>
    </div>
</div>
<div class="card md:mx-8">
    <div class="card mt-4 md:mx-8">
        <router-outlet />
    </div>
    <!-- <div class="card md:mx-8">
        <ckeditor [editor]="Editor" [config]="config" (ready)="onReady($event)" (change)="onChange($event)"></ckeditor>
        <button (click)="save()">Save</button> 
    </div> -->
    <!-- <div class="mb-3">
        <button pButton type="button" label="Expand all" (click)="expandAll()" class="mr-2"></button>
        <button pButton type="button" label="Collapse all" (click)="collapseAll()"></button>
    </div>
    <p-tree [value]="files" class="w-full md:w-30rem"></p-tree> -->
</div>