<div class="card">
    <div class="formgrid grid mt-3">
        <div class="field col-12 md:col-5">
            <label for="firstName">Subject</label>
            <input id="firstName" pInputText class="w-full p-inputtext-sm">
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12 md:col-5">
            <label for="lastname">Description</label>
            <textarea rows="5" cols="30" pInputTextarea class="w-full p-inputtext-sm"></textarea>
        </div>
    </div>
    <p-button label="Save" size="small"></p-button> 
</div>