<div class="card">
    <div class="formgrid grid">
        <div class="field col-8 mt-3">
            <p-dropdown
                styleClass="w-full md:w-3 p-inputtext-sm"
                appendTo="body"
                [options]="period"
                [(ngModel)]="selectedPeriod"
                optionLabel="period"
                optionValue="periodID"
                [showClear]="true"
                placeholder="period">
            </p-dropdown>
            <p-dropdown 
                [options]="academicYear"
                [(ngModel)]="selectedAcademicYear"
                optionLabel="academicYear"
                optionValue="academicYearID"
                [filter]="true"
                filterBy="academicYear"
                [showClear]="true"
                placeholder="Academic year"
                styleClass="w-full md:w-3 p-inputtext-sm ml-2"
                appendTo="body">
            </p-dropdown>
            <p-dropdown 
                *ngIf="selectedPeriod && selectedAcademicYear"
                [options]="teachers"
                [(ngModel)]="selectedTeacher"
                optionLabel="name"
                optionValue="teacherID"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Search teacher"
                styleClass="w-full md:w-5 p-inputtext-sm ml-2"
                (onChange)="onChangeTeacher($event)">
            </p-dropdown>
        </div>
        <div class="col-4 text-right" *ngIf="newSubjects.length > 0">
            <p-button label="Save" size="small" (click)="saveSubjects()" [disabled]="newSubjects.invalid"></p-button>
        </div>
    </div>
    <ng-container class="overflow-auto" *ngIf="showTable">
        <form [formGroup]="tSubjecForm" >
            <p-table [value]="newSubjects.controls" styleClass="p-datatable-sm p-datatable-gridlines" dataKey="id">
                <ng-template pTemplate="caption"></ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Subject</th>
                        <th>Description</th>
                        <th class="action">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-controls let-i="rowIndex" formArrayName="newSubjects">
                    <tr [formGroupName]="i">
                        <td>
                            <p-dropdown 
                                [options]="subjects"
                                formControlName="subject"
                                optionLabel="subject"
                                optionValue="subjectID"
                                [filter]="true"
                                filterBy="subject"
                                [showClear]="true"
                                placeholder="Subject"
                                styleClass="w-full p-inputtext-sm"
                                appendTo="body">
                            </p-dropdown>
                            <small class="remove" *ngIf="newSubjects.controls[i].get('subject')?.errors?.['Duplicate']">Duplicate subject</small>
                        </td>
                        <td>
                            <input formControlName="description" pInputText class="w-full p-inputtext-sm">
                        </td>
                        <td>
                            <div class="action">
                                <span (click)="removeRow(i)">
                                    <i class="pi pi-trash remove" pTooltip="Delete" [showDelay]="300"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary"></ng-template>
            </p-table>
            <div class="mt-3">
                <p-button label="Add" size="small" (click)="addNewSubject()"></p-button>
            </div>
        </form>
    </ng-container>
</div>