<div class="card">
    <div class="formgrid grid mt-3">
        <div class="field col-12 md:col-5">
            <label for="firstName">Firstname</label>
            <input id="firstName" pInputText class="w-full p-inputtext-sm">
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12 md:col-5">
            <label for="lastname">Lastname</label>
            <input id="lastname" pInputText class="w-full p-inputtext-sm">
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12 md:col-5">
            <label for="middle_initial">Middle Initial</label>
            <input id="middle_initial" pInputText class="w-full p-inputtext-sm">
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12 md:col-5">
            <label for="position">Position</label>
            <input id="position" pInputText class="w-full p-inputtext-sm">
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12 md:col-5">
            <label for="email">Email</label>
            <input type="email" id="email" pInputText class="w-full p-inputtext-sm">
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12 md:col-5">
            <label for="password">Password</label>
            <input type="password" id="password" pInputText class="w-full p-inputtext-sm">
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col">
            <div class="d-grid">
                <label for="middlename">Gender&nbsp;</label>
                <p-dropdown [options]="genderList"
                    [(ngModel)]="selectedGender"
                    optionLabel="gender"
                    optionValue="gender"
                    styleClass="mt-2 col-2">
                </p-dropdown>
            </div>
        </div>
    </div>
    <p-button label="Save" size="small"></p-button>
</div>