<div class="image-section flex"></div>
<div class="card mt-4 md:mx-8">
    <div class="md:mx-8 flex flex-wrap">
        <div class="d-menu md:w-3 sm:w-6">
            <div class="d-content">
                <img src="assets/images/addbusiness.png" alt="addBusiness">
                <div>Science</div>
            </div>
        </div>
        <div class="d-menu md:w-3 sm:w-6">
            <div class="d-content">
                <img src="assets/images/addbusiness.png" alt="addBusiness">
                <div>Math 101</div>
            </div>
        </div>
        <div class="d-menu md:w-3 sm:w-6">
            <div class="d-content">
                <img src="assets/images/addbusiness.png" alt="addBusiness">
                <div>Math 101</div>
            </div>
        </div>
        <div class="d-menu md:w-3 sm:w-6">
            <div class="d-content">
                <img src="assets/images/addbusiness.png" alt="addBusiness">
                <div>Math 101</div>
            </div>
        </div>
        <div class="d-menu md:w-3 sm:w-6">
            <div class="d-content">
                <img src="assets/images/addbusiness.png" alt="addBusiness">
                <div>Math 101</div>
            </div>
        </div>
    </div>
    <!-- <p-panel header="Subjects">
        <p-tree [value]="topics"></p-tree>
    </p-panel> -->
</div>