/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
/* .p-inputtext.p-inputtext-sm {
    font-size: 0.775rem !important;
    height: 30px !important;
} */
body {
    margin: 0 !important;
}

.header {
    height: 3.3rem;
}

.breadcrum{
    height: 4rem;
    color: #ffff;
    background-color: #263238;
}

.d-grid {
    display: grid !important;
}

.save {
    color: #22c55e;
}

.remove {
    color: #ef4444;
}

.info {
    color: #0ea5e9;
}

.action {
    display: flex;
    justify-content: center;
}

table {
    font-size: 0.8rem !important;
}

.p-tabview .p-tabview-panels {
    padding: 1.25rem 0 !important;
}

.p-tabview-title {
    font-size: 14px !important;
}

label {
    font-size: 0.8rem !important;
}

input {
    font-size: 0.775rem !important;
    height: 30px !important;
    border-radius: 2px !important;
}

button {
    border-radius: 2px !important;
}

textarea {
    font-size: 0.775rem !important;
    border-radius: 2px !important;
}

.p-dropdown {
    border-radius: 2px !important;
}

.p-dropdown-item{
    font-size: 0.775rem !important;
}

label {
    font-size: 14px !important;
}

.p-button-sm {
    padding: 0.5rem 1rem !important;
}

.p-dropdown .p-dropdown-label {
    font-size: 0.775rem !important;
    padding: 0.4rem 0.5rem !important;
}

.p-multiselect .p-multiselect-label {
    font-size: 0.775rem !important;
    padding: 0.5rem 0.5rem !important;
}

.p-multiselect-items {
    font-size: 0.775rem !important; 
}

.p-tree-wrapper {
    font-size: 0.775rem !important;
}

.p-tree {
    border-radius: 0 !important;
}

.p-tree .p-treenode-content {
    padding: 0 !important;
}

.p-dialog .p-dialog-header {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.p-tooltip .p-tooltip-text {
    font-size: 13px !important;
    border-radius: 2px !important;
}