<div class="card">
    <div class="formgrid grid">
        <div class="field col-12">
            <label for="firstname6">Subject</label>
            <input id="firstname6" pInputText class="w-full p-inputtext-sm">
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12">
            <label for="lastname">Description</label>
            <textarea rows="5" cols="30" pInputTextarea class="w-full p-inputtext-sm"></textarea>
        </div>
    </div>
    <p-button label="Save" size="small"></p-button> 
</div>